/*------------------------------------------------------------
|  Author: Free-Template.co
|  Author URL: https://free-template.co/
|  License: https://creativecommons.org/licenses/by/3.0/
|  License URL: https://creativecommons.org/licenses/by/3.0/
-------------------------------------------------------------*/
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";


.sticky-wrapper.is-sticky #main-logo {
    filter: invert(.85);
}

.site-section#process-section .container .row:not(:first-child) {
    display: flex;
    & > div,
    & > div .process {
        display: flex;
        flex: 1;
    }
}

.owl-stage {
    display: flex;
}
.owl-carousel.owl-drag .owl-item {
    display: flex;
    flex: 1;
}
.service {
    flex: 1;
}