    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:34
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-antenna:before { content: "\f100"; }
.flaticon-badge:before { content: "\f101"; }
.flaticon-bar-chart:before { content: "\f102"; }
.flaticon-bicycle:before { content: "\f103"; }
.flaticon-bookmark:before { content: "\f104"; }
.flaticon-change:before { content: "\f105"; }
.flaticon-change-1:before { content: "\f106"; }
.flaticon-checked:before { content: "\f107"; }
.flaticon-checked-1:before { content: "\f108"; }
.flaticon-cube:before { content: "\f109"; }
.flaticon-cube-1:before { content: "\f10a"; }
.flaticon-cursor:before { content: "\f10b"; }
.flaticon-cursor-1:before { content: "\f10c"; }
.flaticon-direction:before { content: "\f10d"; }
.flaticon-dollar-symbol:before { content: "\f10e"; }
.flaticon-download:before { content: "\f10f"; }
.flaticon-download-1:before { content: "\f110"; }
.flaticon-eye:before { content: "\f111"; }
.flaticon-eye-1:before { content: "\f112"; }
.flaticon-file:before { content: "\f113"; }
.flaticon-fold:before { content: "\f114"; }
.flaticon-folder:before { content: "\f115"; }
.flaticon-full-screen:before { content: "\f116"; }
.flaticon-full-screen-1:before { content: "\f117"; }
.flaticon-head:before { content: "\f118"; }
.flaticon-layers:before { content: "\f119"; }
.flaticon-like:before { content: "\f11a"; }
.flaticon-monitor:before { content: "\f11b"; }
.flaticon-monitor-1:before { content: "\f11c"; }
.flaticon-monitor-2:before { content: "\f11d"; }
.flaticon-networking:before { content: "\f11e"; }
.flaticon-networking-1:before { content: "\f11f"; }
.flaticon-next:before { content: "\f120"; }
.flaticon-next-1:before { content: "\f121"; }
.flaticon-next-2:before { content: "\f122"; }
.flaticon-pen:before { content: "\f123"; }
.flaticon-phone-call:before { content: "\f124"; }
.flaticon-photo-camera:before { content: "\f125"; }
.flaticon-pie-chart:before { content: "\f126"; }
.flaticon-pie-chart-1:before { content: "\f127"; }
.flaticon-piggy-bank:before { content: "\f128"; }
.flaticon-placeholder:before { content: "\f129"; }
.flaticon-previous:before { content: "\f12a"; }
.flaticon-satellite:before { content: "\f12b"; }
.flaticon-scheme:before { content: "\f12c"; }
.flaticon-scheme-1:before { content: "\f12d"; }
.flaticon-scheme-2:before { content: "\f12e"; }
.flaticon-screen:before { content: "\f12f"; }
.flaticon-settings:before { content: "\f130"; }
.flaticon-settings-1:before { content: "\f131"; }
.flaticon-settings-2:before { content: "\f132"; }
.flaticon-settings-3:before { content: "\f133"; }
.flaticon-share:before { content: "\f134"; }
.flaticon-shield:before { content: "\f135"; }
.flaticon-speech-bubble:before { content: "\f136"; }
.flaticon-strategy:before { content: "\f137"; }
.flaticon-telephone:before { content: "\f138"; }
.flaticon-telephone-1:before { content: "\f139"; }
.flaticon-up-arrow:before { content: "\f13a"; }
.flaticon-up-arrow-1:before { content: "\f13b"; }
.flaticon-upload:before { content: "\f13c"; }
.flaticon-upload-1:before { content: "\f13d"; }
.flaticon-user:before { content: "\f13e"; }
.flaticon-user-1:before { content: "\f13f"; }
.flaticon-user-2:before { content: "\f140"; }
.flaticon-user-3:before { content: "\f141"; }
.flaticon-volume-control:before { content: "\f142"; }
.flaticon-watch:before { content: "\f143"; }
.flaticon-wrench:before { content: "\f144"; }
.flaticon-wrench-1:before { content: "\f145"; }
    
    $font-Flaticon-antenna: "\f100";
    $font-Flaticon-badge: "\f101";
    $font-Flaticon-bar-chart: "\f102";
    $font-Flaticon-bicycle: "\f103";
    $font-Flaticon-bookmark: "\f104";
    $font-Flaticon-change: "\f105";
    $font-Flaticon-change-1: "\f106";
    $font-Flaticon-checked: "\f107";
    $font-Flaticon-checked-1: "\f108";
    $font-Flaticon-cube: "\f109";
    $font-Flaticon-cube-1: "\f10a";
    $font-Flaticon-cursor: "\f10b";
    $font-Flaticon-cursor-1: "\f10c";
    $font-Flaticon-direction: "\f10d";
    $font-Flaticon-dollar-symbol: "\f10e";
    $font-Flaticon-download: "\f10f";
    $font-Flaticon-download-1: "\f110";
    $font-Flaticon-eye: "\f111";
    $font-Flaticon-eye-1: "\f112";
    $font-Flaticon-file: "\f113";
    $font-Flaticon-fold: "\f114";
    $font-Flaticon-folder: "\f115";
    $font-Flaticon-full-screen: "\f116";
    $font-Flaticon-full-screen-1: "\f117";
    $font-Flaticon-head: "\f118";
    $font-Flaticon-layers: "\f119";
    $font-Flaticon-like: "\f11a";
    $font-Flaticon-monitor: "\f11b";
    $font-Flaticon-monitor-1: "\f11c";
    $font-Flaticon-monitor-2: "\f11d";
    $font-Flaticon-networking: "\f11e";
    $font-Flaticon-networking-1: "\f11f";
    $font-Flaticon-next: "\f120";
    $font-Flaticon-next-1: "\f121";
    $font-Flaticon-next-2: "\f122";
    $font-Flaticon-pen: "\f123";
    $font-Flaticon-phone-call: "\f124";
    $font-Flaticon-photo-camera: "\f125";
    $font-Flaticon-pie-chart: "\f126";
    $font-Flaticon-pie-chart-1: "\f127";
    $font-Flaticon-piggy-bank: "\f128";
    $font-Flaticon-placeholder: "\f129";
    $font-Flaticon-previous: "\f12a";
    $font-Flaticon-satellite: "\f12b";
    $font-Flaticon-scheme: "\f12c";
    $font-Flaticon-scheme-1: "\f12d";
    $font-Flaticon-scheme-2: "\f12e";
    $font-Flaticon-screen: "\f12f";
    $font-Flaticon-settings: "\f130";
    $font-Flaticon-settings-1: "\f131";
    $font-Flaticon-settings-2: "\f132";
    $font-Flaticon-settings-3: "\f133";
    $font-Flaticon-share: "\f134";
    $font-Flaticon-shield: "\f135";
    $font-Flaticon-speech-bubble: "\f136";
    $font-Flaticon-strategy: "\f137";
    $font-Flaticon-telephone: "\f138";
    $font-Flaticon-telephone-1: "\f139";
    $font-Flaticon-up-arrow: "\f13a";
    $font-Flaticon-up-arrow-1: "\f13b";
    $font-Flaticon-upload: "\f13c";
    $font-Flaticon-upload-1: "\f13d";
    $font-Flaticon-user: "\f13e";
    $font-Flaticon-user-1: "\f13f";
    $font-Flaticon-user-2: "\f140";
    $font-Flaticon-user-3: "\f141";
    $font-Flaticon-volume-control: "\f142";
    $font-Flaticon-watch: "\f143";
    $font-Flaticon-wrench: "\f144";
    $font-Flaticon-wrench-1: "\f145";